header{
    background: linear-gradient(to right, #48b6ff 0%, #fa5039 100%);
}
nav{
    background: rgb(250, 110, 203);
    position: static;
}
article{
    background: rgba(235, 69, 132, 0.192);
    list-style-position: ini;
}
aside{
    background: #ccf;
    float:left;
}

article.carousel-inner{
    height: 100%;
    width: 100%;
    background-color: #f2f1ee;
    border: 1 solid#000;
    padding: 20px;
    text-align: center;
    margin: bottom 20px;
    margin-top: 20px;
    margin-left: 50px;
    float:left;
    position: center;
}
footer{
    background: linear-gradient(to right, #48b6ff 0%, #fa5039 100%);
    padding: 1em;
    text-align: center;
    margin-top: auto;

}
body{
    background-color: #000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
iframe, section{
    min-height: 100vh;
    position: center;
}